body {
	font-family: Verdana;
	margin-left:10%;
	margin-right:10%;
	background-color:#fefefe;
}

h1 {
	text-align:center;
}

h4 {
	text-align:center;
}

code {
	background-color: #dddddd;
	padding: 2px;
	border-radius: 5px;
}
